<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Vaga</title>

</head>

<body>

    <h1>Excluir Vaga</h1>

    <form id="deleteForm" action="/delete" method="POST">

        <label for="id">ID da Vaga:</label>
        <input type="number" id="id" name="id" required>

        <button type="submit">Excluir</button>

    </form>

</body>

</html>
